body{
    margin: 0;
    padding: 0;
    background-color: rgb(236, 247, 239);
}
    
 .navigation {
    background-color: rgb(96, 182, 114);
    width: 100%;
    overflow: auto;
              
}
.logo-img{
    margin-top: 30px;
    padding-right: 60px;
    float: left;
    /* margin-bottom: 10px; */
   }

#nav-ul li{   
    display: inline-block;
    float: left; 
    margin-top: 50px;
        
  }
#nav-ul a{
    text-decoration: none;
    color: white;
    font-size: large;
    text-align: center;
    margin-right: 50px;
    
}

.search-form{
    padding-right: 150px; 
    margin-top: 50px;
    border-radius: 60px; 
    
    }
   .sign{
       margin-bottom: 3%;
   }
      
    #sign-in{
        float: right;
        margin-right: 50px;
        color: white;
        text-decoration: none;
        font-weight: bolder;
        width: 80px;
        background: rgb(50, 145, 74);
         border-radius: 60px; 
        text-align: center;
        height: 40px;
        padding-top: 5px;
        margin-top: 50px;
       
   }

   .picture-1{
    width: 100%;
    padding-right: 4rem;
    height: 400px;
    margin: 30px;
}

.about-main{
    text-align: justify;
    margin-left: 3%;
    padding-right: 3rem;
}
.place{
    text-align: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    margin-left: 250px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 150%;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40d3dc;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px; */
/* } */
.navigation-auto div{
    padding: 5px;
    border: 2px solid #40d3dc;
    border-radius: 10px;
    transition: 1s;
}




             
        

        
  


